
<!DOCTYPE html>
<html lang="es">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/index.css">        
        <!-- Script normalizr -->
        <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.2/dist/normalizr.browser.min.js"></script>
        <!-- Toastify -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
        
        <script src="/socket.io/socket.io.js"></script>
        <script src="/ejs/ejs.min.js"></script>

    </head>

    <input type="hidden" id="usuario" value="<%= userName %>">
    <div id="bodyContainer">
        <script src="/js/index.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    </div>

</html>