
<!DOCTYPE html>
<html lang='es'>

    <head>

        <%- include('./head') %>
        <script src="/ejs/ejs.min.js"></script>

    </head>

    <input type="hidden" id="usuario" value="<%= userName %>">

    <div id="bodyContainer">
        <script src="/js/cartLogic.js"></script>
    </div>

</html>