
<!DOCTYPE html>
<html lang='es'>

    <head>

        <%- include('./head') %>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
        <script src="/ejs/ejs.min.js"></script>
        
    </head>

    <input type="hidden" id="usuario" value="<%= userName %>">

    <div id="bodyContainer">
        <script src='../../js/purchaseOrder.js'></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    </div>

</html>